

@font-face
{
    font-family: 'Rubik-Regular';
    src: local('Rubik-Regular'),url('Rubik-Regular.ttf') format('opentype');
}


body
{
    font-family: 'Rubik-Regular';
    font-size: 25px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    font-weight: normal;
}




